#page2 {
    position: relative; /* Required for positioning the pseudo-element */
    background-size: cover;
    /* Uncomment this line if you want to use an image */
    background-image: url("https://s3-alpha-sig.figma.com/img/8535/598d/d79d82bf9c6a77a53ab28436f5a42b70?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Sp2ASdmV2ksVvFbCZfBU0W~GvhQ0XfS9ffkoGQ~SGsn4~8XBBJ85zkebqBaUnnz5b74rzmUdobYf~Et~35raeTLpb6nCvzgxt2ksQKXML75SPuZVvMWzW4hHbNemZV4DVLCX1DBEDHH6d~eN6I51u8vtNjApFRS9eO6yXUALfqe3hgATGhusI0pQdsgbb4ns-NE5DwAZn2j8QgAKfv7xR9xftnZN~-AUFlLIlIcfPWTj5LRrkiYi7HvRWR1Bkey9rhV6qr7s6Z~FZ-wVYpfmnxOrl-Eh4uS4ciX6zeWLUJI1IGlFiAKHC-SJbyA6Mfa6GxBtv-yoPvzHU1SdNKLCLQ__");
  
}
  
  #page2::before {
    content: ""; /* Necessary for the pseudo-element to be rendered */
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Stretch to the bottom */
    background: linear-gradient(90deg, rgba(0, 35, 77, 0.63) 11.46%, rgba(0, 35, 77, 0) 77.37%);
  }
  #kol{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/asad-f3717.appspot.com/o/Frame%202608705.png?alt=media&token=4ac630d4-92b3-4271-b775-0fe4ab158861");
  }
  